:root[data-colors="dark"] {
  --background-button-destructive-active: var(--global-red-light);
  --global-red-light: rgb(183, 64, 58);
  --background-button-destructive-default: var(--global-red-base);
  --global-red-base: rgb(221, 72, 64);
  --background-button-destructive-hover: var(--global-red-dark);
  --global-red-dark: rgb(227, 105, 99);
  --background-button-destructive-text-hover: var(--global-red-lighter);
  --global-red-lighter: rgb(60, 38, 39);
  --background-button-primary-active: var(--global-app-violet-light);
  --global-app-violet-light: rgb(84, 67, 188);
  --background-button-primary-default: var(--global-app-violet-base);
  --global-app-violet-base: rgb(98, 77, 227);
  --background-button-primary-hover: var(--global-app-violet-dark);
  --global-app-violet-dark: rgb(154, 144, 223);
  --background-button-secondary-active: var(--global-neutral-3);
  --global-neutral-3: rgb(49, 50, 53);
  --background-button-secondary-default: var(--global-neutral-1);
  --global-neutral-1: rgb(31, 32, 35);
  --background-button-secondary-hover: var(--global-neutral-2);
  --global-neutral-2: rgb(39, 40, 43);
  --background-button-warning-active: var(--global-orange-light);
  --global-orange-light: rgb(105, 82, 58);
  --background-button-warning-default: var(--global-orange-lighter);
  --global-orange-lighter: rgb(65, 51, 36);
  --background-component-child: var(--global-neutral-2);
  --background-component-disabled: var(--global-neutral-2);
  --background-component-elevated-element: var(--global-neutral-1);
  --background-component-error: var(--global-red-lighter);
  --background-component-highlight: var(--global-app-violet-lighter);
  --global-app-violet-lighter: rgb(54, 42, 121);
  --background-component-hover-on-darkest: var(--global-neutral-3);
  --background-component-hover-on-lightest: var(--global-neutral-2);
  --background-component-info: var(--global-blue-lighter);
  --global-blue-lighter: rgb(41, 52, 67);
  --background-component-input: var(--global-neutral-1);
  --background-component-parent: var(--global-neutral-1);
  --background-component-success: var(--global-green-lighter);
  --global-green-lighter: rgb(45, 60, 48);
  --background-component-tooltip: var(--global-neutral-9);
  --global-neutral-9: rgb(255, 255, 255);
  --background-component-warning: var(--global-orange-lighter);
  --background-surface-marketing-background: var(--global-neutral-1);
  --background-surface-overlay: var(--global-neutral-9);
  --background-surface-surface-1: var(--global-neutral-1);
  --background-surface-surface-2: var(--global-neutral-2);
  --background-surface-surface-3: var(--global-neutral-3);
  --background-surface-surface-glass: rgba(24, 30, 37, 0.8);
  --border-button-destructive-default: var(--global-red-dark);
  --border-button-destructive-focused: var(--global-red-lighter);
  --border-button-primary-default: var(--global-app-violet-dark);
  --border-button-primary-focused: var(--global-app-violet-lighter);
  --border-button-secondary-default: var(--global-neutral-3);
  --border-button-warning-hover: var(--global-orange-light);
  --border-component-active: var(--global-app-violet-base);
  --border-component-darkest-border: var(--global-neutral-7);
  --global-neutral-7: rgb(174, 178, 183);
  --border-component-error: var(--global-red-base);
  --border-component-lightest-border: var(--global-neutral-3);
  --global-blue-base: rgb(96, 168, 250);
  --global-green-base: rgb(125, 216, 121);
  --global-neutral-4: rgb(68, 71, 75);
  --global-neutral-5: rgb(92, 96, 102);
  --global-neutral-6: rgb(120, 126, 135);
  --global-neutral-8: rgb(244, 245, 245);
  --global-orange-base: rgb(255, 158, 41);
  --icon-default: var(--global-neutral-6);
  --icon-disabled: var(--global-neutral-4);
  --icon-error: var(--global-red-base);
  --icon-info: var(--global-blue-base);
  --icon-on-colored-bg: var(--global-neutral-1);
  --icon-selected: var(--global-app-violet-base);
  --icon-success: var(--global-green-base);
  --icon-warning: var(--global-orange-base);
  --skeleton-default: var(--global-neutral-2);
  --text-active: var(--global-app-violet-dark);
  --text-error: var(--global-red-base);
  --text-high-emphasis: var(--global-neutral-9);
  --text-info: var(--global-blue-base);
  --text-low-emphasis: var(--global-neutral-6);
  --text-medium-emphasis: var(--global-neutral-8);
  --text-on-colored-bg: var(--global-neutral-1);
  --text-success: var(--global-green-base);
  --text-warning: var(--global-orange-base);
}
:root[data-colors="light"] {
  --background-button-destructive-active: var(--global-red-light);
  --global-red-light: rgb(255, 113, 92);
  --background-button-destructive-default: var(--global-red-base);
  --global-red-base: rgb(245, 72, 63);
  --background-button-destructive-hover: var(--global-red-dark);
  --global-red-dark: rgb(219, 38, 44);
  --background-button-destructive-text-hover: var(--global-red-lighter);
  --global-red-lighter: rgb(254, 228, 226);
  --background-button-primary-active: var(--global-app-violet-light);
  --global-app-violet-light: rgb(138, 120, 238);
  --background-button-primary-default: var(--global-app-violet-base);
  --global-app-violet-base: rgb(98, 77, 227);
  --background-button-primary-hover: var(--global-app-violet-dark);
  --global-app-violet-dark: rgb(73, 56, 195);
  --background-button-secondary-active: var(--global-neutral-3);
  --global-neutral-3: rgb(222, 228, 237);
  --background-button-secondary-default: var(--global-neutral-1);
  --global-neutral-1: rgb(255, 255, 255);
  --background-button-secondary-hover: var(--global-neutral-2);
  --global-neutral-2: rgb(246, 248, 251);
  --background-button-warning-active: var(--global-orange-light);
  --global-orange-light: rgb(255, 223, 184);
  --background-button-warning-default: var(--global-orange-lighter);
  --global-orange-lighter: rgb(255, 244, 230);
  --background-component-child: var(--global-neutral-2);
  --background-component-disabled: var(--global-neutral-2);
  --background-component-elevated-element: var(--global-neutral-1);
  --background-component-error: var(--global-red-lighter);
  --background-component-highlight: var(--global-app-violet-lighter);
  --global-app-violet-lighter: rgb(231, 228, 251);
  --background-component-hover-on-darkest: var(--global-neutral-3);
  --background-component-hover-on-lightest: var(--global-neutral-2);
  --background-component-info: var(--global-blue-lighter);
  --global-blue-lighter: rgb(219, 236, 254);
  --background-component-input: var(--global-neutral-1);
  --background-component-parent: var(--global-neutral-1);
  --background-component-success: var(--global-green-lighter);
  --global-green-lighter: rgb(230, 247, 229);
  --background-component-tooltip: var(--global-neutral-9);
  --global-neutral-9: rgb(24, 30, 37);
  --background-component-warning: var(--global-orange-lighter);
  --background-surface-marketing-background: var(--global-neutral-1);
  --background-surface-overlay: var(--global-neutral-9);
  --background-surface-surface-1: var(--global-neutral-1);
  --background-surface-surface-2: var(--global-neutral-2);
  --background-surface-surface-3: var(--global-neutral-3);
  --background-surface-surface-glass: rgba(255, 255, 255, 0.64);
  --border-button-destructive-default: var(--global-red-dark);
  --border-button-destructive-focused: var(--global-red-lighter);
  --border-button-primary-default: var(--global-app-violet-dark);
  --border-button-primary-focused: var(--global-app-violet-lighter);
  --border-button-secondary-default: var(--global-neutral-3);
  --border-button-warning-hover: var(--global-orange-light);
  --border-component-active: var(--global-app-violet-base);
  --border-component-darkest-border: var(--global-neutral-7);
  --global-neutral-7: rgb(92, 111, 138);
  --border-component-error: var(--global-red-base);
  --border-component-lightest-border: var(--global-neutral-3);
  --global-blue-base: rgb(17, 125, 249);
  --global-green-base: rgb(88, 205, 82);
  --global-neutral-4: rgb(204, 213, 225);
  --global-neutral-5: rgb(179, 192, 208);
  --global-neutral-6: rgb(120, 139, 165);
  --global-neutral-8: rgb(50, 59, 72);
  --global-orange-base: rgb(255, 142, 5);
  --icon-default: var(--global-neutral-6);
  --icon-disabled: var(--global-neutral-4);
  --icon-error: var(--global-red-base);
  --icon-info: var(--global-blue-base);
  --icon-on-colored-bg: var(--global-neutral-1);
  --icon-selected: var(--global-app-violet-base);
  --icon-success: var(--global-green-base);
  --icon-warning: var(--global-orange-base);
  --skeleton-default: var(--global-neutral-2);
  --text-active: var(--global-app-violet-base);
  --text-error: var(--global-red-base);
  --text-high-emphasis: var(--global-neutral-9);
  --text-info: var(--global-blue-base);
  --text-low-emphasis: var(--global-neutral-6);
  --text-medium-emphasis: var(--global-neutral-8);
  --text-on-colored-bg: var(--global-neutral-1);
  --text-success: var(--global-green-base);
  --text-warning: var(--global-orange-base);
}
